@page "/"
@using Models
@inject FaqService FaqsService

<PageTitle>TN Treasury Portal</PageTitle>

<h1>TN Department of Treasury</h1>
<hr />
<br />

<!--FAQs will go here after being created-->
<div id="FAQContainer">
    @foreach (var faq in faqs)
    {
        <div class="FAQ">
            <h3>@faq.Title</h3>
            <p>@faq.Description</p>
            <a href="@faq.Link">View Link Here</a>
        </div>
        
    }
</div>
<br />
<!--Only appears to authorized users, will allow them to post FAQ content-->
<AuthorizeView>
    <AuthorizedContainer />
</AuthorizeView>

<!--Simple CSS section-->
<style>
    .FAQ {
        border: 2px solid black;
        padding: 15px;
    }
</style>

<!--C# code section-->
@code {
    Faq[] faqs;

    protected override async Task OnInitializedAsync()
    {
        TnTreasuryPortalContext context = new TnTreasuryPortalContext();
        FaqService service = new FaqService(context);
        faqs = await service.ReadFaq();
    }
}