@page "/"

<PageTitle>Index</PageTitle>

<h1>TN Department of Treasury</h1>
<!--FAQs will go here after being created-->
<div id="FAQContainer">
    
</div>
<!--Only appears to authorized users, will allow them to post FAQ content-->
<AuthorizedContainer/>