@page "/"

<PageTitle>Index</PageTitle>

<h1>TN Department of Treasury</h1>
<hr />
<br />

<!--FAQs will go here after being created-->
<div id="FAQContainer">
    
</div>
<br />
<!--Only appears to authorized users, will allow them to post FAQ content-->
<AuthorizedContainer/>
<style>
    .FAQ {
        border: 2px solid black;
        padding: 15px;
    }
</style>