@using Models
@inject FaqService FaqsService
<hr />
<br />
<!--Form that allows the creation of a new FAQ element-->
<h3>Add FAQs</h3>

<table class="table">
    <tr>
        <td>Title:</td>
        <td>
            <input type="text" @bind-value="@NewTitle" />
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>
            <input type="text" @bind-value="@NewDescription" />
        </td>
    </tr>
    <tr>
        <td>Link:</td>
        <td>
            <input type="text" @bind-value="@NewLink" />
        </td>
    </tr>
    <tr>
        <input type="button" class="btn btn-primary" value="Add FAQ Item" @onclick="CreateFaq" />
    </tr>
</table>

@code {
    //Creates a new FAQ object that the user can fill with content
    string NewTitle = "";
    string NewDescription = "";
    string NewLink = "";

    async Task CreateFaq()
    {
        TnTreasuryPortalContext context = new TnTreasuryPortalContext();
        FaqService service = new FaqService(context);
        await service.CreateFaq(NewTitle, NewDescription, NewLink);
        NewTitle = "";
        NewDescription = "";
        NewLink = "";
    }
}