@inject IJSRuntime JSRuntime
@using TN_Treasury_Portal_03.Data
<hr />
<br />
<h3>Add FAQs</h3>

<EditForm Model="@q" OnValidSubmit="insertFAQ">
    <table class="table">
        <tr>
            <td>FAQ Title:</td>
            <td><InputText id="faqTitle" @bind-Value="q.Title"></InputText></td>
        </tr>
        <tr>
            <td>FAQ Description:</td>
            <td><InputTextArea id="faqDescription" @bind-Value="q.Description"></InputTextArea></td>
        </tr>
        <tr>
            <td>FAQ Link (Optional):</td>
            <td><InputText id="faqLink" @bind-Value="q.Link"></InputText></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
    
</EditForm>

@code {
    //Creates a new FAQ object that the user can fill with content
    private FAQ q = new FAQ();
    private async Task insertFAQ()
    {
        string qToString = q.ToString();
        await JSRuntime.InvokeVoidAsync("insertFAQ", qToString);
    }
}
