@using Models
@inject TrainingItemService TrainingItemsService
<hr />
<br />
<!--Form that allows the creation of a new TrainingItem element-->
<h3>Add Training Items</h3>

<table class="table">
    <tr>
        <td>Title:</td>
        <td>
            <input type="text" @bind-value="@NewTitle" />
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>
            <input type="text" @bind-value="@NewDescription" />
        </td>
    </tr>
    <tr>
        <td>Link:</td>
        <td>
            <input type="text" @bind-value="@NewLink" />
        </td>
    </tr>
    <tr>
        <input type="button" class="btn btn-primary" value="Add Training Item" @onclick="CreateTrainingItem" />
    </tr>
</table>

@code {
    //Creates a new FAQ object that the user can fill with content
    string NewTitle = "";
    string NewDescription = "";
    string NewLink = "";

    async Task CreateTrainingItem()
    {
        TnTreasuryPortalContext context = new TnTreasuryPortalContext();
        TrainingItemService service = new TrainingItemService(context);
        await service.CreateTrainingItem(NewTitle, NewDescription, NewLink);
        NewTitle = "";
        NewDescription = "";
        NewLink = "";
    }
}